/* .nav-wrapper { */
    /* right: auto; */
/* } */

.button {
    
    position: relative;
    top: 10px;
    left: 0px;
}

.statement {
    color: white;
    position: relative;
    top: 10px;
    left: 0px;
    font-size: 30px;
}

.buffer {
    padding-top: 245px;
}