

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body class = "orange lighten-2">
    <div class ="center">
        <div class="fixed-action-btn" style="bottom: 30px; right: 24px;">
            <a href="/logout" class="btn-floating btn-large red">
              <i class="large material-icons">exit_to_app</i>
            </a>
        </div>
        <div class="buffer"></div>
        <div class="statement">
        <p>Welcome back Admin: <%= username %>!</p>
        </div>
        <table>

            <a class="waves-effect waves-light btn-large" href="/edit"><i class="material-icons right">edit</i>Edit Menu</a>

            <a class="waves-effect waves-light btn-large orange" href="/admin_edit"><i class="material-icons right">person</i>Edit Admin Controls</a>

            <a class="waves-effect waves-light btn-large red" href="/history_admin_complete"><i class="material-icons right">history</i>View Order History</a>

        </table>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>