<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/menu.css">
</head>
<body class="teal lighten-2">
<div class="white-text">
<div class="container">
    <div class="section" id="MenuList">
        <h2>Your Order!</h2>
    <table>
        <div class = "center">
        <thead>
            <tr>
                <th>Menu</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Burger</td>
                <td>$5</td>
                <td>1</td>
                <td>
                    <a class="btn-small waves-effect waves-light orange" href="/menu/item"><i
                            class="material-icons right">edit</i>Edit</a>
                    <a class="btn-small waves-effect waves-light red"><i
                            class="material-icons right">delete</i>Delete</a>
                </td>
            </tr>
            <tr>
                <td>Pizza</td>
                <td>$5</td>
                <td>1</td>
                <td>
                    <a class="btn-small waves-effect waves-light orange" href="/menu/item"><i
                            class="material-icons right">edit</i>Edit</a>
                    <a class="btn-small waves-effect waves-light red"><i
                            class="material-icons right">delete</i>Delete</a>
                </td>
            </tr>
            <tr>
                <td>Milkshake</td>
                <td>$3</td>
                <td>2</td>
                <td>
                    <a class="btn-small waves-effect waves-light orange" href="/menu/item"><i
                            class="material-icons right">edit</i>Edit</a>
                    <a class="btn-small waves-effect waves-light red"><i
                            class="material-icons right">delete</i>Delete</a>
                </td>
            </tr>
        </tbody>
        </div>
    </table>
    </div>
    <div class="section" id="AddMenu">
        <h2>Place New Order:</h2>
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                
                    <label for="menu_item"><div class="input-color">Item Name</div></label>
                    <input type="text" name="menu_item" class="validate" data-length="32" color="white" required>

                </div>
                <div class="input-field col s6">
                
                    <label for="quantity"><div class="input-color">Quantity</div></label>
                    <input type="number" name="quantity" class="validate" value="1" required>
                    
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit">
                <i class="material-icons right">send</i>Submit</button>
        </form>
    </div>
</div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script> M.AutoInit();</script>
</div>
</body>
</html>